_AIRFLOW_CONN_METADATA_DB_USER=airflow
_AIRFLOW_CONN_METADATA_DB_PASSWORD=airflow
_AIRFLOW_CONN_METADATA_DB_NAME=airflow
_AIRFLOW_CONN_METADATA_DB_EXT_PORT=5433

AIRFLOW_CONN_METADATA_DB=postgres+psycopg2://${_AIRFLOW_CONN_METADATA_DB_USER}:${_AIRFLOW_CONN_METADATA_DB_PASSWORD}@postgres_airflow:5432/${_AIRFLOW_CONN_METADATA_DB_NAME}
AIRFLOW_VAR__METADATA_DB_SCHEMA=airflow

AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS=False
AIRFLOW__CORE__SQL_ALCHEMY_CONN=${AIRFLOW_CONN_METADATA_DB}
AIRFLOW__CORE__DAGS_FOLDER=/usr/local/redata/redata/dags
AIRFLOW__CORE__EXECUTOR=LocalExecutor

AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs

AIRFLOW_SECURITY_ADMIN_USER=admin
AIRFLOW_SECURITY_ADMIN_PASSWORD=admin
AIRFLOW_SECURITY_ADMIN_EMAIL=admin@example.com

GF_INSTALL_PLUGINS=grafana-polystat-panel,grafana-clock-panel,grafana-simple-json-datasource
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

GRAFANA_WEB_HOST=grafana
GRAFANA_WEB_PORT=3000

REDATA_DEFAULT_BIGQUERY_DOCKER_CREDS_FILE_PATH='/opt/creds/bigquery/creds.json'

REDATA_AIRFLOW_SCHEDULE_INTERVAL="0 * * * *"

REDATA_METRICS_DATABASE_HOST=postgres_redata
REDATA_METRICS_DATABASE_USER=redata
REDATA_METRICS_DATABASE_EXT_PORT=5434
REDATA_METRICS_DATABASE_PASSWORD=mysecretpassword
REDATA_METRICS_DATABASE_NAME=redata

REDATA_METRICS_DB_URL=postgres://${REDATA_METRICS_DATABASE_USER}:${REDATA_METRICS_DATABASE_PASSWORD}@${REDATA_METRICS_DATABASE_HOST}:5432/${REDATA_METRICS_DATABASE_NAME}

REDATA_TIME_COL_BLACKLIST_REGEX=""

REDATA_ACCEPTABLE_Z_SCORE_DIFF=3.0
# REDATA_SLACK_NOTIFICATION_URL=https://hooks.slack.com/services/XXXX

# REDATA_SOURCE_DB_URL_POSTGRES=postgres://USER:PASSWORD@HOSTNAME:PORT/DB_NAME
# REDATA_SOURCE_DB_URL_MYSQL=mysql://USER:PASSWORD@hHOSTNAME:PORT/DB_NAME
# REDATA_SOURCE_DB_URL_EXASOL=exa+pyexasol://USER:PASSWORD@HOSTNAME:PORT/SCHEMA_NAME

# REDATA_SOURCE_DB_URL_BIGQUERY=bigquery://PROJECT_NAME/

# creds_file_for_big_query ONLY NEEDED if not on GCP 
# REDATA_BIGQUERY_HOST_KEY_PATH=PATH_TO_JSON_CREDS_FILE