AIRFLOW_CONN_METADATA_DB_USER=airflow
AIRFLOW_CONN_METADATA_DB_PASSWORD=airflow
AIRFLOW_CONN_METADATA_DB_NAME=airflow
AIRFLOW_CONN_METADATA_DB_PORT=5433
AIRFLOW_CONN_METADATA_DB=postgres+psycopg2://${AIRFLOW_CONN_METADATA_DB_USER}:${AIRFLOW_CONN_METADATA_DB_PASSWORD}@postgres_airflow:5432/${AIRFLOW_CONN_METADATA_DB_NAME}
AIRFLOW_VAR__METADATA_DB_SCHEMA=airflow

AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS=False
AIRFLOW__CORE__SQL_ALCHEMY_CONN=${AIRFLOW_CONN_METADATA_DB}
AIRFLOW__CORE__DAGS_FOLDER=/usr/local/redata/dags
AIRFLOW__CORE__BASE_LOG_FOLDER=/opt/airflow/logs
AIRFLOW__CORE__EXECUTOR=LocalExecutor

AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC=30

GF_DATABASE_TYPE=postgres
GF_DATABASE_HOST=postgres_grafana
GF_DATABASE_USER=grafana
GF_DATABASE_PORT=5435
GF_DATABASE_PASSWORD=mysecretpassword
GF_DATABASE_NAME=grafana
GF_INSTALL_PLUGINS=grafana-polystat-panel,grafana-clock-panel,grafana-simple-json-datasource
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

PYTHONPATH="${PYTHONPATH}:/usr/local/"

REDATA_METRICS_DATABASE_HOST=postgres_redata
REDATA_METRICS_DATABASE_USER=redata
REDATA_METRICS_DATABASE_PORT=5434
REDATA_METRICS_DATABASE_PASSWORD=mysecretpassword
REDATA_METRICS_DATABASE_NAME=redata
REDATA_METRICS_DB_URL=postgres://redata:mysecretpassword@postgres_redata:5432/redata

REDATA_SOURCE_DB_URL=postgres://USER:PASSWORD@HOSTNAME:5432/DB_NAME
