include re_data/dbt_template/analysis/.gitkeep
include re_data/dbt_template/macros/.gitkeep
include re_data/dbt_template/macros/schema_changes.sql
include re_data/dbt_template/models/.gitkeep
include re_data/dbt_template/models/pending_orders_per_customer.sql
include re_data/dbt_template/tests/.gitkeep
include re_data/dbt_template/seeds/.gitkeep
include re_data/dbt_template/seeds/customers.csv
include re_data/dbt_template/seeds/orders.csv
include re_data/dbt_template/seeds/schema.yml
include re_data/dbt_template/.gitignore
include re_data/dbt_template/packages.yml
include re_data/dbt_template/README.md
include re_data/templates/dbt_project.yml
include re_data/templates/email_alert.html
include re_data/include/index.html