include re_data/dbt_template/analysis/.gitkeep
include re_data/dbt_template/data/.gitkeep
include re_data/dbt_template/macros/.gitkeep
include re_data/dbt_template/models/.gitkeep
include re_data/dbt_template/tests/.gitkeep
include re_data/dbt_template/.gitignore
include re_data/dbt_template/packages.yml
include re_data/dbt_template/README.md
include re_data/templates/dbt_project.yml
include re_data/include/index.html
