ul.nav {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #392396;
    border-radius: 2rem;
}

ul.nav li {
    width: 50%;
    padding: .3rem;
    list-style: none;
    text-align: center;
    font-size: small;
    cursor: pointer;
    transition: all 0.7s;
    border-radius: 0;
}

ul.nav li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.nav li:not(:first-child):not(:last-child) {
    border-left: 1px solid #392396;
    border-right: 1px solid #392396;
}

ul.nav li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li:hover {
    background: #8884d8;
}

ul.nav li.active {
    background: #392396;
    color: #fff;
}
