.label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
}

.subtitles {
    font-size: 9px;
    font-style: italic;
}

.container {
    cursor: pointer;
    position: relative;
    background-color: white;
    border-radius: 4px;
}

.container-active {
    background-color: #392396;
    border: 2px solid #392396;
    color: white;
    border-radius: 4px;
    overflow: hidden;
    opacity: 1;
}

.node {
    padding: 4px 12px 7px;
    display: flex;
    align-items: center;
}

.schema-dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(252, 211, 77, 1);
    position: absolute;
    top: -5px;
    margin-left: 18px;
}

.schema-dot-active {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(252, 211, 77, 1);
    position: absolute;
    top: -4px;
    margin-left: 18px;
}

.anomalies-dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(220, 38, 38, 1);
    position: absolute;
    top: -5px;
    margin-left: 6px;
}

.anomalies-dot-active {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(220, 38, 38, 1);
    position: absolute;
    top: -3px;
    margin-left: 6px;
}
  