{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<div class="row-fluid">

    <div class="wrapper">
        {% if current_user.is_authenticated %}
        <div class="quick-intro">
        <img class="redata-logo" src="{{ url_for('static', filename='img/redata-logo.svg') }}">
        <h2 class="form-signin-heading">Welcome! Quick intro :) </h2>

        <p class='intro-text '>
          Start monitoring your database with <a href="{{ url_for('datasource.create_view', url=url_for('table.index_view')) }}">adding datasource</a>.<br/> <br/>

          Redata will look for tables in your datasource and add them to your <a href="{{ url_for('table.index_view') }}"> tables </a> you can choose to monitor all or some of them. <br/> <br/>

          From now on redata will run checks hourly/daily depending on you schedule <a href="{{ url_for('scan.index_view') }}"> you can see it here </a> You can also backfill data from the past <a href="{{ url_for('scan.create_view') }}"> by adding scan </a> and see if you are safe now :) (it usually around 1-2 minutes to schedule and run scan) <br/> <br/>

          Runs may produce <a href="{{ url_for('alert.index_view') }}"> alerts </a> about your data, in those cases it's recommended to look into Grafana dashboards for details on what is unexpected (you can do that by clicking table names) <br/> <br/>

          You can adjust <a href="{{ url_for('check.index_view') }}"> checks </a> and run only some of them for specific tables. <br/> <br/>

          Let us know if you have any questions, problems, or <strong>features requests :) </strong>
        </p>
        </div>
        {% else %}
        <div>
          <form method="POST" action="" class="form-signin">
            <img class="redata-logo" src="{{ url_for('static', filename='img/redata-logo.svg') }}">
            <h2 class="form-signin-heading">Welcome to Redata</h2>
            <p class="form-login-text lead">
                Please log in
            </p>
              {{ form.hidden_tag() if form.hidden_tag }}
              {% for f in form if f.type != 'CSRFTokenField' %}
              <div class="form-field">
              {{ f.label }}:
              {{ f }}
              {% if f.errors %}
              <ul class="form-error">
                  {% for e in f.errors %}
                  <li>{{ e }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              </div>
              {% endfor %}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

              <p class="track-message">
                Redata anomously tracks your ussage - this helps us improve experience greatly. We hope that's ok :)
              </p>

          </form>
          {{ link | safe }}
          {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
