{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}
        <h2>Hi, welcome to Redata once again!</h2>
        <p class='intro-text'>
          See and manage alerts about your data here.  <br/> <br/>
          Manage tables you monitor, adjust their settings, and choose what checks to
          run for them. <br/> <br/>
          Let us know if you have any questions, problems, or <strong>features requests :) </strong>
        </p>
        {% else %}
        <div class="wrapper">
          <form method="POST" action="" class="form-signin">
            <img class="redata-logo" src="{{ url_for('static', filename='img/redata-logo.svg') }}">
            <h2 class="form-signin-heading">Welcome to Redata</h2>
            <p class="form-login-text lead">
                Please log in
            </p>
              {{ form.hidden_tag() if form.hidden_tag }}
              {% for f in form if f.type != 'CSRFTokenField' %}
              <div class="form-field">
              {{ f.label }}:
              {{ f }}
              {% if f.errors %}
              <ul class="form-error">
                  {% for e in f.errors %}
                  <li>{{ e }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              </div>
              {% endfor %}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
          </form>
          {{ link | safe }}
          {% endif %}
    </div>

</div>
{% endblock body %}
