body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
    --tw-translate-x: -100%;
}

.navlink {
    @apply flex items-center space-x-2 mb-3 py-2 px-4 transition duration-200 hover:bg-gray-600 hover:text-white
}

.navlink.active {
    background: #392396;
}

.details-cell {
    color: #1d39c4;
    background: #f0f5ff;
    border-color: #adc6ff;
}

.pass {
    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;
}

.fail {
    color: #d4380d;
    background: #fff2e8;
    border-color: #ffbb96;
}

select {
    margin: 0 1px;
}

#menu-close-icon {
    display: none;
}

#menu-open:checked ~ #sidebar {
    --tw-translate-x: 0;
}

#menu-open:checked ~ * #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

#menu-open:checked ~ * #menu-open-icon {
    display: none;
}

#menu-open:checked ~ * #menu-close-icon {
    display: block;
}

@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}

li.active-tab {
    border-bottom: 3px solid rgba(57,35,150, var(--tw-bg-opacity));
}

.sticky-nav {
    @apply z-10 sticky bg-gray-100 py-1 pl-2 flex;
    height: 60px;
    top: -1.5rem;
}

.css-26l3qy-menu {
    z-index: 100 !important;
}

.bg-active {
    background: #392396;
}

.bg-other {
    background: #8884d8;
}
